@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-foreground: #dcdcdc;
  --scrollbar-background: transparent;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-background;
}

* {
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

::-webkit-scrollbar {
  width: 13px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
  @apply rounded border border-solid border-violet;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}